*.i
*.ii
*.gpu
*.ptx
.vscode
*.pdf
*.h5
*.mp4
*.txt
*.json
*.v2
*.csv
*.keras
*.tfevents.*
*/checkpoints/*
__pycache__/
logs/
Datasets/
GPU_tf/
*.index
*.data-00000-of-00001
*.data-00000-of-00002
*.data-00001-of-00002
*.zip
*.tfrecord-00000-of-00001
/ComputerVision/ObjectDetection/Yolo/pascal_voc
/ComputerVision/ObjectDetection/Yolo
/ComputerVision/ImageClassification/LargeNetwork/dataset
/ComputerVision/dataset_clf
/NaturalLanguageProcessing/TextGeneration/EncoderDecoder/dataset.txt
/NaturalLanguageProcessing/TextGeneration/GeneratedPretrainedTransformer/dataset.txt
/NaturalLanguageProcessing/TextGeneration/Transformer/dataset.txt
