*.i
*.ii
*.gpu
*.ptx
.vscode
*.png
*.pdf
*.h5
*.mp4
*.txt
*.jpg
*.jpeg
*.json
*.v2
*.tfevents.*
*/checkpoints/*
__pycache__/
logs/
Datasets/
GPU_tf/
*.index
*.data-00000-of-00001
*.data-00000-of-00002
*.data-00001-of-00002
*.zip
*.tfrecord-00000-of-00001
